@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans&display=swap=Berkshire+Swash&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
*, *:befor, *:after, *:active, *:focus {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	outline: none !important;
}

html {
	font-family: 'Cormorant Infant', serif;
	background-color: #f2f2f2;
	font-weight: 300;
	font-size: 21px;
	color: #555;
	cursor: url(../img/cursor_main.png) 0 0, pointer;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

body {
	font-family: 'Cormorant Infant', serif;
	font-weight: 300;
}

a:hover {
	cursor: url(../img/cursor_hand.png) 0 0, pointer;
	transition: 0.12s linear;
	color: rgb(17,130,250);
}

.text_to_center {
	text-align: center;
}
.intro {
	max-height: 100vh;
	overflow: hidden;
	position: relative;
	background: url("../img/crusaders.jpg") center no-repeat;
	background-size: cover;
}

.intro:after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	
	background-color: rgba(0,0,0,0.35);

	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

.video {
	position: relative;
	padding-bottom: 42.5%;
	z-index: 1;
}

.video_intro {
	width: 100%;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
}

.container { overflow: hidden; }

.intro_row {
	width: 100%;
	height: 100%;

	position: absolute;
	overflow: hidden;
	top: 30%;
	left: 0;
	z-index: 3;
}

#intro_brand {
	font-family: 'Girassol', serif;
	text-align: center;
	color: #fdcf15;
	position: relative;
}

.intro_title {
	color: #fff;
	text-align: center;
}

.background_main {
	position: relative;
	background-image: url("../img/background_main.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.background_wrap { background-color: rgba(0,0,0,0.7); z-index: 1;}

.shield_label {
	background-image: url("../img/label_print.gif"); 
	background-size: cover;
    width:23px; 
    height:30px; 
    display:inline-block;
    vertical-align: center;
}


/* Navbar */ 
.navbar, .navbar-expand-lg, .nav_main {
	background-image: url("../img/nav_back.jpg"); 
	background-position: 0 0;
	background-repeat: cover;
	border: 4px solid black;
	box-shadow: inset 0px 0px 100px rgba(0,0,0,0.8);
}

.navbar-brand {
	font-family: 'Girassol', serif;
	font-weight: 500;
	padding: 0;
	color: #c70e1b;
	text-transform: uppercase;
	font-size: 28px;
}

/*dropdown menu*/
#main_dropdown_menu { background-color: #eee4bc;}

#main_dropdown_divider {
	background-color: black;
	height: 4px;
	width: 97%;
	padding: auto;
	margin: auto;
}

/* Menu image */
.navbar-toggler-icon {
	background-image: url("../img/burger_icon.png"); 
	cursor: url(../img/cursor_hand.png) 0 0, pointer;
	box-sizing: padding-box;
}

.navbar-toggler:hover, .navbar-toggler:active, .navbar-toggler:focus {
	border: 1px solid #c70e1b;
	outline: none;
} 

.intro_speach{ 
	margin: 3% auto;
	color: #e7d9a2;
	font-weight: 400;
	letter-spacing: 1.5px;
	text-indent: 50px;
	text-align: justify;
}

/* Menu */
.menu {	text-align: center; }

.btn-history, .btn-persons, .btn-order, .btn-weapon {
	height: 400px;
	width: 400px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0px;
	border: 5px solid black;
	margin-bottom: : 10%;
	box-shadow: inset 0px 0px 100px rgba(0,0,0,1);
}

.btn-history {
	background: url(../img/history.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-order {
	background: url(../img/order.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-persons {
	background: url(../img/persons.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 100px;
}

.btn-weapon {
	background: url(../img/weapon.jpg);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
}

/* !important changed based bootstrap class*/
.col-6:focus {
	outline: none !important;
	box-shadow: none !important;
}

.col-6:active {
	outline: none !important;
	box-shadow: none !important;
}
.btn-history:hover, .btn-persons:hover, .btn-order:hover, .btn-weapon:hover {
	border: 10px solid #b1972c;
	cursor: url(../img/cursor_hand.png) 0 0, pointer;
} 

.btn-history:active, .btn-persons:active, .btn-order:active, .btn-weapon:active {
	border: 10px solid #b1972c;
	cursor: url(../img/cursor_hand.png) 0 0, pointer;
	outline: none !important;
	box-shadow: none !important;
}

.btn-history:focus, .btn-persons:focus, .btn-order:focus, .btn-weapon:focus {
	border: 10px solid #b1972c;
	cursor: url(../img/cursor_hand.png) 0 0, pointer;
	outline: none !important;
	box-shadow: inset 0px 0px 100px rgba(0,0,0,1);
}
/* .btn-history:active, .btn-persons:active, .btn-order:active, .btn-weapon:active  */

.pict_sign {
	color: #e7d9a2;
	margin-bottom: 10%;
}

.dropdown_item_main {
	padding-right: 30px;
}

.sources {
	position: relative;
	color: #fdcf15;
	font-weight: 500;
}

.sources:hover {
	position: relative;
	color: #00b3ff;
	font-weight: 500;
}
.descr_sources{
    display: none;
    color: #3f3220;
	margin-left: -150px;
    padding: 10px;
    background-color: #eee4bc;
    height: 200px;
    -moz-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}
.sources:hover .descr_sources{
    display: block;
    position: absolute;
    top: 45px;
    z-index: 9999;
    width: 400px;
} 
.nav_main_btn, .menu_search_btn {
	color: #fdcf15;
	font-weight: 500;
}

.nav_main_btn:hover {
	color: #00b3ff;
}

.menu_search_btn {
	border-color: #fdcf15;
	margin-left: 5px;
	height: 42px;
	padding-top: 5px;
}
.menu_search_btn:active {
	border-color: #fdcf15 !important;
	background-color: #00b3ff !important;
	color: #fdcf15 !important;
	outline: none !important;
	box-shadow: none !important;
}

.menu_search_btn:focus {
	border-color: #fdcf15;
	background-color: rgba(0,179,255,0.6);
	color: #fdcf15;
	outline: none;
	box-shadow: none;
}

.menu_search_btn:hover {
	border-color: #fdcf15;
	background-color: rgba(0,179,255,0.8);
	color: #fdcf15;
	cursor: url(../img/cursor_hand.png) 0 0, pointer;
}

.input_text_field {
	cursor: url(../img/cursor_feather.png.png) 0 0, pointer !important;
	background-color: #eee4bc;
	height: 42px;
}

.input_text_field:hover {
	cursor: url(../img/cursor_feather.png) 0 20, pointer !important;
	background-color: #eee4bc;
	transition: 0.15s linear;
	box-shadow:  0px 0px 12px rgba(0,179,255,0.7);
	border: 1px solid rgb(0,179,255);
}

.input_text_field:focus {
	cursor: url(../img/cursor_feather.png) 0 20, pointer !important;
	background-color: #eee4bc;
	transition: 0.15s linear;
	box-shadow:  0px 0px 12px rgba(0,179,255,0.7);
	border: 1px solid rgb(0,179,255);
}

.footer_speach {
	text-align: center;
	color: #fdcf15;
	margin: 3% 0% 0% 0%;
	font-weight: 400;
	letter-spacing: 1.5px;
}
.
#suggest_materials {
	margin: 0% 3% 5% 3%;
	display: inline-block;
	height: 200px;
	width: 100%;
}

.accept_button {

}

.accept_button:hover {
	cursor: url(../img/cursor_hand.png) 0 0, pointer;
	transition: 0.12s linear;
}

footer {
	color: #e5d69c; 
	font-weight: 500;
	background-image: url(../img/nav_back.jpg); 
	background-position: 0 0;
	background-repeat: cover;
	border: 5px solid black;
	box-shadow: inset 0px 0px 500px rgba(0,0,0,1);
	padding-bottom: 50px;
}

@media screen and (max-width: 440px) {
	html {
	font-family: 'Cormorant Infant', serif;
	background-color: #f2f2f2;
	font-weight: 300;
	font-size: 17px;
	color: #555;
	cursor: url(../img/cursor_main.png) 0 0, pointer;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.intro_row {
	width: 100%;
	height: 100%;

	position: absolute;
	overflow: hidden;
	top: 20%;
	left: 0;
	z-index: 3;
}

#intro_brand {
	font-family: 'Girassol', serif;
	text-align: center;
	color: #fdcf15;
	position: relative;
	font-size: 25px;
}

.intro_title {
	color: #fff;
	text-align: center;
	font-size: 17px;
	margin-top: 17%;
}

.btn-history, .btn-persons, .btn-order, .btn-weapon {
	height: 250px;
	width: 250px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0px;
	border: 5px solid black;
	margin-bottom: : 10%;
	box-shadow: inset 0px 0px 100px rgba(0,0,0,1);
}
}
@media (min-width: 440px) and (max-width: 500px) {
	html {
	font-family: 'Cormorant Infant', serif;
	background-color: #f2f2f2;
	font-weight: 300;
	font-size: 17px;
	color: #555;
	cursor: url(../img/cursor_main.png) 0 0, pointer;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.intro_row {
	width: 100%;
	height: 100%;

	position: absolute;
	overflow: hidden;
	top: 18%;
	left: 0;
	z-index: 3;
}

#intro_brand {
	font-family: 'Girassol', serif;
	text-align: center;
	color: #fdcf15;
	position: relative;
	font-size: 25px;
}

.intro_title {
	color: #fff;
	text-align: center;
	font-size: 17px;
	margin-top: 20%;
}

.btn-history, .btn-persons, .btn-order, .btn-weapon {
	height: 300px;
	width: 300px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0px;
	border: 5px solid black;
	margin-bottom: : 10%;
	box-shadow: inset 0px 0px 100px rgba(0,0,0,1);
}
}

@media (min-width: 500px) and (max-width: 1000px) {
		html {
	font-family: 'Cormorant Infant', serif;
	background-color: #f2f2f2;
	font-weight: 300;
	font-size: 19px;
	color: #555;
	cursor: url(../img/cursor_main.png) 0 0, pointer;

	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
}

.btn-history, .btn-persons, .btn-order, .btn-weapon {
	height: 250px;
	width: 259px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0px;
	border: 5px solid black;
	margin-bottom: : 10%;
	box-shadow: inset 0px 0px 100px rgba(0,0,0,1);
}
.intro_title {
	color: #fff;
	text-align: center;
	font-size: 19px;
	margin-top: 15%;
}

#intro_brand {
	font-family: 'Girassol', serif;
	text-align: center;
	color: #fdcf15;
	position: relative;
	font-size: 25px;
}
} 

